# String Operations, Comparison and information

In [1]:
import numpy as np

In [2]:
str1 = "Manhaz Tech"
str2 = "Manish Kumar Sah"

In [4]:
str1 + str2

'Manhaz TechManish Kumar Sah'

In [5]:
np.char.add(str1, str2)

array('Manhaz TechManish Kumar Sah', dtype='<U27')

In [7]:
# converting string to lower case
np.char.lower(str1)

array('manhaz tech', dtype='<U11')

In [9]:
# upper case
np.char.upper(str2)

array('MANISH KUMAR SAH', dtype='<U16')

In [11]:
# centering the string
# suppose i want to center the string in the length of 60 characters
np.char.center(str1, 60)

array('                        Manhaz Tech                         ',
      dtype='<U60')

In [13]:
# now i want to fill these blank line with some character
np.char.center(str1, 60, fillchar='*')

array('************************Manhaz Tech*************************',
      dtype='<U60')

In [15]:
# splitting the string
np.char.split(str1)

array(list(['Manhaz', 'Tech']), dtype=object)

In [17]:
np.char.splitlines("hello\nworld")

array(list(['hello', 'world']), dtype=object)

In [19]:
# join
str3 = "dmy"
str4 = "dmy"
np.char.join([":", "/"], [str3, str4])

array(['d:m:y', 'd/m/y'], dtype='<U5')

In [21]:
# replace
np.char.replace(str1, "Man", "Manish") # replacing Man by Manish in string str1

array('Manishhaz Tech', dtype='<U14')

In [22]:
# checking two string is equal or not
np.char.equal(str3, str4)

array(True)

In [23]:
# counting the char in string
np.char.count(str1, "a")

array(2)

In [24]:
str1

'Manhaz Tech'

In [25]:
# see in str1 which is Manhaz Tech, char a is present for two times

In [26]:
# now lets check some char is present in the string or not
np.char.find(str1, "tech")

array(-1)

In [28]:
# see in str1 "tech" is not present so it is returing the index -1
np.char.find(str1, "Tech")

array(7)

In [29]:
# "Tech" is present at the 7th index in str1